* {
  margin: 0;
}

button {
  background-color: #f8fafc;
}

input {
  width: 100%;
  border-radius: 3px;
  padding: 4px;
  border: 1px solid black;
}

textarea {
  width: 100%;
}

#root {
  width: 100%;
  background-color: #f1f5f9;

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.m-0 {
  margin: 0;
}

header {
  padding: 8px 15px;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: #64748b;
  color: #fff;  
}

form {
  display: flex;
  gap: 30px;
  margin-bottom: 8px;
  justify-content: center;
}

.form-section {
  margin-top: 8px;
  margin-bottom: 20px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 2px rgb(0, 0, 0, 0.2);
}

.form-inner-btn {
  font-size: 14px;
}

.action-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cv-container {
  background-color: #fff;
  box-shadow: 2px 2px 3px 4px rgb(0, 0, 0, 0.2);
  width: 900px;
  padding: 15px 20px;
  margin-top: 10px;
}

.person-name {
  text-align: center;
  margin-bottom: 8px;
}

.personal-info-section h2 {
  text-transform: uppercase;
}

.contact-info {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.title {
  border-bottom: 1px solid black;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.course-name {
  font-weight: bold;
}

.education-info-section, .experience-info-section {
  text-align: left;
}

.duration {
  font-size: 14px;
  color: #3d2d2d;
}

.edit-btn {
  margin-bottom: 6px;
  text-align: left;
}
